/* light white #edf7fa */
/* orange #ff6464 */
/* button color rgba(5,4,43,255) */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

html{
    font-family: 'Heebo', sans-serif;
}
.navbar ul{
    display: flex;
    justify-content: end;
    padding-right: 100px;
     
}
.navbar ul li h4{
   font-weight: 800;
   padding: 24px;
   font: bold;


}
.navbar ul li h4 a:hover {
   color: #ff6464;
   transition: 0.2s;
}

.ul-controller{
    display: flex;
    justify-content: space-between;
}
.second-navbar img{
    width: 30px;
    justify-content: end;
    
}
.second-navbar{
    display: none;
}
.second-navbar ul{
  text-align: end;
  
}
.primary-ul{
    width: 600px;
    
     
    margin: 30px;
    padding: 20px;
}
.head-text h1{
    
    font: large;
    font: 200;
}


.primary-ul .main-text p{
    font-size: larger;
    font: bold;
    color: rgb(59, 53, 53);
}
.primary-ul .foot-text {
    width: 200px;
    margin-top: 30px;
    background-color: #ff6464;
    
    
}
.primary-ul .foot-text h3{
     padding: 8px;
     text-align: center;
     color: antiquewhite;
}

.secondary-ul .main-img{
    margin: 80px;
    margin-right: 150px;
}
main .container{
    width: 100%;
    height: 450px;
    background-color:  #edf7fa;
}
.container .main-top-ul{
    display: flex;
    justify-content: space-between;
}
.container .main-top-ul li{
    padding: 20px;
    padding-left: 50px;
}
.ul-a{
    width: 450px;
    height: 340px;
    background-color: white;
    margin-left: 6px;
    
}
.ul-b{
    width: 450px;
    height: 340px;
    background-color: white;
    margin-left: 6px;
    

}
.main-scondary-ul{
    display: flex;
    justify-content: space-around;
}
.second-li{
    margin: 20px;
    padding-right: 60px
    
    

}
.second-li a{
    color: lightskyblue;
}
.ul-a h1{
    padding-left: 20px;
    padding: 20px;
}
.ul-a span{
    font-size: x-large;
   
    padding: 14px;
}
.ul-a .span-controller{
    padding: 8px;
}
.ul-a p{
    font-size: large;
     padding: 20px;
}
.ul-b h1{
    padding-left: 20px;
    padding: 20px;
}
.ul-b span{
    font-size: x-large;
   
    padding: 14px;
}
.ul-b .span-controller{
    padding: 8px;
}
.ul-b p{
    font-size: large;
     padding: 14px;
     padding-left: 20px;
}
footer h4{
    padding: 20px;
    padding-left: 80px;
    font-size: large;
}
.card-a{
    padding: 10px;
    padding-left: 66px;
    width: 800px;
    display: flex;
    
}
.secondary-ul li h2{
    padding-left: 20px;


}
.secondary-ul li a h2:hover{
    color: #ff6464;
    transition: 0.3s;
}
.secondary-ul li h3{
    width: 60px;
    color: aliceblue;
    background-color: rgba(5,4,43,255);
    padding: 4px;
    text-align: center;
    border-radius: 40px;


}
.secondary-ul .wrapper{
    display: flex;
    padding: 16px;
    padding-left: 20px;
}
.secondary-ul .wrapper p{
    font-size: large;
    font: bolder;
    color: rgb(154, 145, 145);
}
.secondary-ul li p{
    padding: 8px;
    padding-left: 20px;
}

.card-b{
    padding: 10px;
    padding-left: 66px;
    width: 800px;
    display: flex;
    
}.card-c{
    padding: 10px;
    padding-left: 66px;
    width: 800px;
    display: flex;
    
}

 .links-collector{
    display: flex;
    padding-top: 100px;
    justify-content: center;
 }
 .fb img,.twitter img,.insta img,.linkdin img{
    padding-left: 18px;
    

    width: 30px;
    
}
.ending-text p{
    font: bold;
    font-size: small;
    text-align: center;
   
   
    
}
.ending-text{
    justify-content: right;
}




/* works-page */

.works-navbar ul{
    display: flex;
    justify-content: right;


}


.works-navbar ul h3{
    font-weight: 800;
        padding: 24px;
    font: bold;
 
 
 }
 .works-navbar ul h3 a:hover{
    color: #ff6464;
    transition: 0.2s;
    
 
 
 }
 .highlighted-text{
    padding: 80px;
 }
 .highlighted-text h1 a:hover{
    color: #ff6464;
    transition: 0.3s;
 }
 .works-card-a,.works-card-b,.works-card-c,.works-card-d{
    display: flex;
    margin-left: 70px;
    border-bottom: #ff6464;
    padding-top: 40px;
 }


 /* blog css */

 .blog-navbar ul{
    display: flex;
    justify-content: right;
    padding: 40px;
    padding-right: 60px;
 }
 .blog-navbar ul li{
    padding-left: 80px;
 }
 .blog-navbar li h3 a:hover{
    color: #ff6464;
    transition: 0.2s;
 }




 /* cheking */
 .main-heading{
    padding: 40px;
    padding-left: 70px;
}
.main-heading a:hover{
    color: #ff6464;
    transition: 0.2s;

}
.paragraph-a .top-text,.paragraph-b .top-text,.paragraph-c .top-text,.paragraph-d .top-text{
 padding: 12px;
 padding-left: 24px;
}
.top-text a:hover{
    color: #ff6464;
    transition: 0.2s;
}
.paragraph-a,.paragraph-b,.paragraph-c,.paragraph-d{
    padding-left: 40px;
}
.paragraph-a .middle-text,.paragraph-b .middle-text,.paragraph-c .middle-text,.paragraph-d .middle-text{
    padding: 12px;
}
.paragraph-a .bottom-text,.paragraph-b .bottom-text,.paragraph-c .bottom-text,.paragraph-d .bottom-text{
    padding: 12px;
}
.paragraph-a .bottom-text p,.paragraph-b .bottom-text p,.paragraph-c .bottom-text p,.paragraph-d .bottom-text p{
    padding-left: 16px;
}
.paragraph-a .middle-text span,.paragraph-b .middle-text span,.paragraph-c .middle-text span,.paragraph-d .middle-text span{
    padding: 12px;
}

.paragraph-a .middle-text .transparent-text,.paragraph-b .middle-text .transparent-text,.paragraph-c .middle-text .transparent-text,.paragraph-d .middle-text .transparent-text{
    color: rgb(140, 131, 131);
}
.line-container{
    margin-top: 20px;
    width: 800px;
    padding: 1px;
    background-color: rgb(183, 171, 171);
 
}
.main-heading a:hover{
    color: #ff6464;
}
.middle-text span{
font-weight: 400;
}













/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .ul-controller{
        display: block;
        text-align: left

    }
    .head-text h1,.main-text p{
        text-align: left;
       
        
    }
    .head-text h1{
        width: 300px;
        
    }
    .main-text p{
        width: 280px;
    }
    
    .foot-text {
        margin-left: 1px;
       
    }
    .secondary-ul .main-img{
       margin-left: 4px;
    }
    
    .first-li li h2 a{
        
        padding-left: 16px;
       
    }
    .main-top-ul .second-li {
        display: none;
    }
    .main-scondary-ul{
        display: block;
        
        
    }
    .span-controller span{
        padding-left: 0px;
        padding: 0;
    }
    .ul-a{
        background-color: antiquewhite;
       margin-left: 20px;
       width: 350px;
       height: 380px;
    }
    .ul-b{
        margin-top: 20px;
        background-color: antiquewhite;
        margin-left: 20px ;
        width: 450px;
    }
    main .container{
        width: 1000px;
        height: 800px;
      text-align: left;
        background-color:  #edf7fa;
    }
    .card-a,.card-b,.card-c{
        
        padding: 8px;
        
        display: block;
    }
   
    .econdary-ul{
        text-align: left;
    }
    .longest-text p{
        
        width: 300px;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .ul-controller{
        display: block;
        text-align: left;
        

    }
    .head-text h1,.main-text p{
        text-align: left;
       
        
    }
    .head-text h1{
        width: 300px;
        text-align: center;
        
    }
    .main-text p{
        width: 280px;
        text-align: center;
    }
    
    .foot-text {
        margin-left: 40px;
       
    }
    .secondary-ul .main-img{
       margin-left: 50px;
    }
    
    .first-li li h2 a{
        
        padding-left: 16px;
       
    }
    .main-top-ul .second-li {
        display: none;
    }
    .main-scondary-ul{
        display: block;
        
        
    }
    .span-controller span{
        padding-left: 0px;
        padding: 0;
    }
    .ul-a{
        background-color: antiquewhite;
       margin-left: 20px;
       width: 340px;
       height: 440px;
    }
    .ul-b{
        margin-top: 20px;
        background-color: antiquewhite;
        margin-left: 20px ;
        width: 340px;
        height: 440px;
    }
    main .container{
        width: 100%;
        height: 1000px;
      text-align: left;
        background-color:  #edf7fa;
    }
    .card-a,.card-b,.card-c{
        
        padding: 8px;
        
        
        display: block;
    }
    .card-a img,.card-b img,.card-c img{
     margin-left: 20px;
    }
   
    .secondary-ul{
        text-align: left;
    }
    .longest-text p{
        
        width: 300px;
    }



 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    

}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }















